@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');


body {
  overflow: hidden;
  height: 100vh;
  background-image: url(../assets/img_background2.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

main {
  flex: 1;
  align-items: center;
  display: flex;
  padding: 0% 20% 0% 20%;

}

main h1 {
  font-size: 90px;
  color: #000000b0;
  font-weight: 700;
}

main p {
  font-size: 25px;
  margin: 0px 18%;
  text-align: center;
  color: #181818a1;
}

.content {
  background-color: transparent;
  backdrop-filter: blur(30px);
  padding: 8% 35px 8% 35px;
  border-radius: 15px;
  overflow: hidden;
}

.btn1 {
  display: inline-block;
  padding: 13px 40px;
  background-color: #ffffffa4;
  color: rgb(0, 0, 0);
  font-size: 22px;
  border: none;
  border-radius: 3px;
  transition: background-color 0.5s ease, transform 0.4s ease;
  cursor: pointer;
  margin-top: 7%;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.btn1:hover {
  background-color: #dadadaa4;
  transform: scale(1.05);
}

#opcoes {
  flex-direction: column;
  margin-top: 20px;
  gap: 20px;
  display: none;
  flex-direction: row;
  justify-content: center;
}

.opcao {
  padding: 10px 20px;
  background-color: #ffffffa4;
  border-radius: 3px;
  font-size: 19px;
  cursor: pointer;
  transition: background-color 0.2s;
  text-decoration: none;
  color: black;
  border: none;
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.opcao a {
  text-decoration: none;
  color: black;
}

.opcao:hover {
  background-color: #cccccca4;
}

footer {
  color: #ffffff9f;
  font-size: 15px;
  margin-bottom: 15px;
}

footer a {
  color: #ffffff9f;
  text-decoration: none;
}


.sub-content {
  display: none;
}

.sub-content.active {
  display: block;
}

.sub-icon {
  text-align: left;
  padding-left: 3%;
}

.sub-icon i {
  font-size: 40px;
  cursor: pointer;
  color: #000000b0;
}

.title-content {
  font-size: 50px;
  color: #000000b0;
  font-weight: 700;
}